In [1]:
import pandas as pd

In [2]:
data = pd.read_excel('inference data.xlsx')
data.head()

,p,crash,volume,temperature,season,weather,daytime,time of week
0,0.000403,0,0,0,autumn,cloudy,afternoon,0
1,0.000010,1,0,0,autumn,cloudy,afternoon,0
2,0.000222,0,1,0,autumn,cloudy,afternoon,0
3,0.000014,1,1,0,autumn,cloudy,afternoon,0
4,0.000197,0,2,0,autumn,cloudy,afternoon,0

In [3]:
data.head()

,p,crash,volume,temperature,season,weather,daytime,time of week
0,0.000403,0,0,0,autumn,cloudy,afternoon,0
1,0.000010,1,0,0,autumn,cloudy,afternoon,0
2,0.000222,0,1,0,autumn,cloudy,afternoon,0
3,0.000014,1,1,0,autumn,cloudy,afternoon,0
4,0.000197,0,2,0,autumn,cloudy,afternoon,0

In [4]:
data_crash = data[data['crash']==1]
print(len(data_crash))

3240

In [5]:
data_crash = data_crash.sort_values(by='p',ascending=0)
data_crash.head(10)

,p,crash,volume,temperature,season,weather,daytime,time of week
1137,0.000481,1,1,0,winter,cloudy,morning,0
1857,0.000471,1,1,0,winter,cloudy,noon,0
1495,0.000438,1,0,0,winter,cloudy,night,0
415,0.000422,1,0,0,winter,cloudy,dawn,0
57,0.000407,1,1,0,winter,cloudy,afternoon,0
777,0.000359,1,1,0,winter,cloudy,evening,0
51,0.000330,1,1,2,summer,cloudy,afternoon,0
775,0.000321,1,0,0,winter,cloudy,evening,0
1851,0.000275,1,1,2,summer,cloudy,noon,0
55,0.000229,1,0,0,winter,cloudy,afternoon,0